@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');


body{
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    font-family: 'Yeseva One', serif;
    box-sizing: border-box;
    color: wheat;
}


.navbar{
    padding: 0;
    margin: 0;
}

.navbar .container-fluid{
    padding: 5px 20px;
    background-color: rgba(0, 0, 0, 0.954);
}

.navbar .container-fluid .navbar-brand{
    font-size: 30px;
}

.navbar-collapse .nav-link:hover{
    transform: scale(1);
}

.navbar-nav{
    float: right;

}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    scale: (1.2);
}


.navbar a{
    font-size: 17px;
    color: white;
    transition: 1.5s ease;

}

.navbar a:hover{
    transform: scale(1.08);
    color: rgba(188, 143, 143, 0.685);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: #695757;
    scale: 1.2;
    
}


.navbar .container-fluid button{
    font-size: 15px;
    padding: 3px 5px;
    border-radius: 50%;
    background-color: #695757;
}


main .portfolio{
    margin: 50px 100px;
    width: 90%;
    height: 600px;
    display: flexbox;
    vertical-align: middle;
}

main .portfolio h3{
    margin: 50px 0;
}



main .portfolio .containerleft{
    border: 1px solid #6957575b;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 4px rgba(255, 255, 255, 0.144);
    width: 40%;
    height: 450px;
    margin: 1rem 3rem;
    float: left;
}

main .portfolio .containerleft h3{
    text-align: center;
    margin: 2rem;
}

main .portfolio .containerleft .item{
    padding: 0.5rem 2rem;
    
    
}

main .portfolio .containerleft .item a{
    list-style: none;
    color: white;
    font-size: 17px;
    text-decoration: none;
    transition: 1s ease;
}

main .portfolio .containerleft .item a:hover{
    font-size: 18px;
    color: wheat;
}




main .contact{
    margin: 3rem 0;
}

main .contact p{
    text-align: center;
    font-size: 30px;
}

main .contact h3{
    font-size: 1.75rem;
    padding: 0 0 2rem 0;
}

main .contact .container{
    border: 1px solid #6957575b;
    border-radius: 20px;
    width: auto;
    height: max-content;
    box-shadow: 0px 0px 30px 4px rgba(255, 255, 255, 0.144);
}

main .contact .container div{
    align-items: start;
    justify-content: center;
    display: flex;
    width: auto;
    height: fit-content;
    margin: 25px;
    padding: 10px;
    transition: 1s ease;
    
}


main .contact .container div:hover{
    transform: scale(1.1);

}


main .contact .container div p{

    margin: 0;
    margin-top: -10px;
    
}

main .contact .container div a{
    text-decoration: none;
    padding: 0 20px;
    color: white;
    font-size: 16px;
}


main .resume .container{
    display: flex-box;
    margin: auto;
    justify-content: center;
}

main .resume .container a{
    display: flex;
    margin: auto;
    justify-content: center;
}

.content .container .left{
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    margin: 50px 0;
    width: 40%;
    float: left;
    height: 25rem;
    padding: 10px;
    
}

.content .container .left img{
    align-items: center;
}

.content .container .right {
    margin: 50px 0;
    float: right;
    width: 50%;
}


.content .container .right p{
    font-size: 14px;
}

.content .container .right h3{
    padding: 20px 15px;
    font-size: 23px;
}

.content .container .bottom{
    display: flexbox;
    float: inline-start;
    width: 100%;
    height: fit-content;
    padding: 10px;
}

.content .container .bottom h3{
   font-size: 23px;
}

.content .container .bottom .tech{
    display: flex;
}

.content .container .bottom .tech div{
    overflow-y:scroll;
    position: relative;
    display:flex-box;
    width: 200px;
    height: auto;
    

}

.content .container .bottom  .tech div img{
    width: 30px;
    margin: 10px 0;
}

.contact .form {
    display: flex-box;
    position:relative;
    width: 400px;
    height: max-content;
    margin: auto;
    margin-top: 100px;
}


.form input {
    color: white;
    font-size: 15px;
    box-shadow: 0px 0px 30px 4px rgba(255, 255, 255, 0.144);
    text-transform: initial;
}


.form input,
form textarea {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    outline: none;
    box-shadow: 0 0 5px rgb(235, 239, 238);
    background: var(--background-color);
    color: white;
    margin-bottom: 15px;
    border-radius: 8px;
    text-transform: initial;
    font-size: 13px;
}


.form textarea {
    padding-top: 10px;
    height: 100px;
}


.form #send-btn {
    display: inline-block;
    width: 200px;
    height: 40px;
    margin-bottom: 50px;
    margin-left: 100px;
    padding: 5px 26px;
    background: var(main-color);
    color: whitesmoke;
    border: 2px solid #695757;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
    opacity: 0.6;
}


form #send-btn:hover {
    background: #695757;
    color: whitesmoke;
    opacity: 1;
    cursor: pointer;
}



footer{
    font-size: 13px;
    opacity: 0.5;
    text-align: center;
}

footer p span{
   color: #695757;
}


@media screen and (max-width:450px) {

    .navbar a{
        font-size: 10px;
    }

    main .content .container .left img{
        max-width: 90%;
        margin: 0;
        padding: 0;
        height: fit-content;
    }


    main .content .container .right {
        width: 50%;
    }

    main .content .container .right h3{
        font-size: 13px;
    }

    main .content .container .right p{
        font-size: 8px;
    }

    main .content .container .bottom h3{
        font-size: 13px;  
    }

    main .content .container .bottom .tech div{
        max-width: fit-content;
        padding: 0;
        margin: 20px ;
    }

    main .content .container .bottom .tech img{
        width: 20px;
    }

    main .content .container .bottom .tech p{
        font-size: 9px;
        width: max-content;
    }

    main .resume h1{
        margin-top: 50px;
        font-size: 20px;
    }
    
    main .resume a img{
        margin-top: 20px;
        width: 300px;
    }


    footer p{
        font-size: 8px;
    }

    main .portfolio{
        display: flexbox;
        max-width: 414px;
        margin: auto;
    }

    main .portfolio .containerleft{
        display:block;
        width: 100%;
        height: fit-content;
        justify-content: center;
        margin: auto;
        padding: 0;   
    }

    main .portfolio .containerleft h3{
        font-size: 15px;
    }

    main .portfolio .containerleft .item a{
        font-size: 12px;
    }

    main .portfolio .swiper{
        display: flexbox;
        width: 300px;
        height: auto;
        margin: auto;
    }
    
    .swiper-slide {
        margin: 2rem 0;
        text-align: center;
        font-size: 18px;
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .portfolio .swiper-slide img{
        max-width: 100%;
        height: 200px;
        object-fit: cover;
    }


    main .contact .container{
        width: 90%;
        height: fit-content;
    }
    main .contact .container div{
        display: flexbox;
        width: 100%;
        margin: auto;
        padding: 10px 0;
    }

    main .contact .container img{
        width: 20px;
        height: auto;
    }

    main .contact .container div a{
        font-size: 12px;
    }

    main .contact .form{
        width: 70%;
        font-size: 12px;
    }

    main .contact #send-btn{
        display: flex;
        text-align: center;
        width: fit-content;
        height: auto;
        margin: auto;
        padding: auto;
        font-size: 10px;
        
    }




}

@media screen and (min-width: 451px) and (max-width:800px){


    main .content .container .left{
        width: 45%;
        height: fit-content;
    }
    main .content .container .left img{
        width: 100%;
        height: fit-content;
        max-height: min-content;
    }

    main .content .container .right {
        width: 50%;
        max-height: fit-content;
    }

    main .content .container .right h3{
        font-size: 15px;
    }

    main .content .container .right p{
        font-size: 12px;
    }

    main .content .container .bottom h3{
        font-size: 15px;  
    }

    main .content .container .bottom .tech div{
        max-width: fit-content;
        padding: 0;
        margin: 20px ;
    }

    main .content .container .bottom .tech img{
        width: 20px;
    }

    main .content .container .bottom .tech p{
        font-size: 15px;
        width: max-content;
    }

    main .resume h1{
        margin-top: 50px;
        font-size: 20px;
    }
    
    main .resume a img{
        margin-top: 20px;
        width: 500px;
    }

    main .contact .container{
        max-width: max-content;
    }

    main .portfolio{
        display: flexbox;
        max-width: 414px;
        margin: auto;
    }

    main .portfolio .containerleft{
        display:block;
        width: 100%;
        height: fit-content;
        justify-content: center;
        margin: auto;
        padding: 0;   
    }

    main .portfolio .containerleft h3{
        font-size: 15px;
    }

    main .portfolio .containerleft .item a{
        font-size: 12px;
    }

    main .portfolio .swiper{
        display: block;
        width: 400px;
        height: auto;
        margin: auto;
    }
    
    .swiper-slide {
        margin: 2rem 0;
        text-align: center;
        font-size: 18px;
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .portfolio .swiper-slide img{
        max-width: 100%;
        height: 270px;
        object-fit: cover;
    }


    main .contact .container{
        width: 90%;
        padding: 20px;
        height: fit-content;
    }
    main .contact .container div{
        display: flexbox;
        width: 100%;
        margin: auto;
        padding: 10px 0;
    }

    main .contact .container img{
        width: 20px;
        height: auto;
    }

    main .contact .container p{
        font-size: 8px;
        padding-top: 10px;
    }

    main .contact .form{
        width: 40%;
        height: fit-content;
        font-size: 12px;
    }

    main .contact #send-btn{
        display: flex;
        text-align: center;
        width: fit-content;
        height: auto;
        margin: auto;
        padding: auto;
        font-size: 10px;
        
    }


    footer p{
        font-size: 12px;
        
    }
}
